
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= asset_path('form_styles.css') %>">

<body>

<header class="header-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img src="<%= asset_path('img1.png') %>" alt="Logo" style="height: 50px; border: 2px solid transparent; border-radius: 10px; box-shadow: 0 0 0 rgba(255, 255, 255, 0); transition: border 0.8s ease, box-shadow 0.8s ease;" class="me-3">
      <h5 class="fw-bold">Clientes</h5>
    </div>
  </div>
</header>

<!-- Formulário -->
<div class="card card-custom">
  <%= simple_form_for @customer do |form| %>
    <div class="card-body">
      <div class="form-section">
        <h2 class="mb-3">Dados do Cliente</h2>
        <div class="mb-3">
          <%= form.input :name, label: 'Nome', label_html: { class: 'custom-label' }, input_html: { class: 'form-control' } %>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <%= form.input :dob, label: 'Data Nascimento', html5: true, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-md-6">
            <%= form.input :mobile_phone, label: 'Telefone', input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="mb-3">
          <%= form.input :email, label: 'E-mail', input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>

    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end bg-light p-3">
      <div class="row">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <%= link_to "Voltar", customers_path, class: "btn btn-secondary w-100" %>
        </div>
        <div class="col-12 col-md-6">
          <%= form.button :submit, 'Salvar', class: 'btn btn-primary w-100', onclick: 'showMessage()' %>
        </div>
      </div>
    </div>
  <% end %>

  <% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<!-- JavaScript -->
<script>
    function showMessage() {
        alert('Dados salvos com sucesso!');
    }
</script>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
